apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  {{ if eq .UseCustomNamespace true }}
  name: {{ .Namespace }}-xld-operator-proxy-role
  {{ else }}
  name: xld-operator-proxy-role
  {{ end }}
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
