global:
  cloudInstallation: true
  namespace: {{ .Namespace }}
image:
  name: "{{ .RepositoryName }}/{{ .ImageNameRemoteRunner }}:{{ .ImageTagRemoteRunner }}"
  {{- if eq .IsCustomImageRegistry true }}
  registry: "{{ .CustomImageRegistryName }}"
  imagePullSecrets:
    - name: {{ .CustomPrivateImageRegistrySecret }}
  {{- end }}
  remote: true
release:
  url: {{ .RemoteRunnerReleaseUrl }}
  registrationToken: {{ .RemoteRunnerToken }}
remote-runner-env:
  volume:
    storageClass: {{ .RemoteRunnerStorageClass }}
resources:
  requests:
    cpu: 1
  limits:
    cpu: 3
