global:
  cloudInstallation: false
  namespace: {{ .Namespace }}
  baseHostPath: "/kube/work/remote-runner"
image:
  pullPolicy: IfNotPresent
  {{- if eq .IsCustomImageRegistry true }}
  {{- /* repository name contains image registry hostname also */}}
  name: "{{ .RepositoryName }}/{{ .ImageNameRemoteRunner }}:{{ .ImageTagRemoteRunner }}"
  {{- else }}
  name: "docker.io/xebialabs/xlr-remote-runner:{{ .ImageTagRemoteRunner }}"
  {{- end }}
  remote: false
  {{- if eq .ImageRegistryType "private" }}
  remote: true
  pullSecret: {{ .CustomPrivateImageRegistrySecret }}
  {{- end }}  
release:
  url: {{ .RemoteRunnerReleaseUrl }}
  registrationToken: {{ .RemoteRunnerToken }}
runner:
  activeProfiles: "k8s,dev"
  remoteDebug: false
  jdkJavaOptions: "-XX:+UseParallelGC -XX:+ShowCodeDetailsInExceptionMessages -XshowSettings:vm"
  jdkRemoteDebug: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
  truststore:
  truststorePassword:
runnerConfig:
  LOGGING_LEVEL_RUNNER: INFO
  LOGGING_LEVEL_K8S_EXECUTOR: DEBUG
  LOGGING_LEVEL_JOB_RUNNER_ACTOR: DEBUG
  LOGGING_LEVEL_CONTROL_CHANNEL: DEBUG
  LOGGING_LEVEL_MESSAGE_DELIVERY: DEBUG 
remote-runner-env:
  volume:
    storageClass: {{ .RemoteRunnerStorageClass }}
    work:
      capacity:
        storage: 1Gi
      requests:
        storage: 512Mi
      accessMode: "ReadWriteMany"
    db:
      capacity:
        storage: 1Gi
      requests:
        storage: 256Mi
      accessMode: "ReadWriteOnce"  
resources:
  requests:
    cpu: 1
    memory: 512Mi
  limits:
    cpu: 3
    memory: 1G
