global:
  persistence:
    storageClass: {{ .RemoteRunnerStorageClass }}
    {{- if eq .K8sSetup "PlainK8s" }}
    baseHostPath: "{{ .RemoteRunnerBaseHostPath }}"
    {{- end }}

release:
  url: {{ .RemoteRunnerReleaseUrl }}
  registrationToken: "{{ .RemoteRunnerToken }}"

replicaCount: {{ .RemoteRunnerCount }}

{{- if eq .K8sSetup "PlainK8s" }}
persistence:
  work:
    volume:
      create: true
      accessModes:
        - ReadWriteOnce
{{- end }}

image:
  {{- if eq .IsCustomImageRegistry true }}
  registry: {{ .CustomImageRegistryName }}
  {{- end }}
  repository: {{ .RepositoryName }}
  name: {{ .ImageNameRemoteRunner }}
  tag: {{ .ImageTagRemoteRunner }}
  {{- if eq .ImageRegistryType "private" }}
  pullSecrets:
    - {{ .CustomPrivateImageRegistrySecret }}
  {{- end }}
