apiVersion: xlr.digital.ai/v1alpha1
kind: DigitalaiRelease
metadata:
  {{- if eq .K8sSetup "Openshift" }}
  {{- if eq .UseCustomNamespace true }}
  name: dai-ocp-xlr-{{ .Namespace }}
  {{- else }}
  name: dai-ocp-xlr
  {{- end }}
  {{- else }}
  {{- if eq .UseCustomNamespace true }}
  name: dai-xlr-{{ .Namespace }}
  {{- else }}
  name: dai-xlr
  {{- end }}
  {{- end }}
spec:
  {{- if eq .IsCustomImageRegistry true }}
  global:
    imageRegistry: {{ .CustomImageRegistryName }}
    {{- if eq .ImageRegistryType "private" }}
    imagePullSecrets:
      - {{ .CustomPrivateImageRegistrySecret }}
    {{- end }}
  {{- end }}
  k8sSetup:
    platform: {{ .K8sSetup }}
  auth:
    adminPassword: "{{ .AdminPassword }}"
  {{- if eq .LicenseSource "generate" }}
  licenseAcceptEula: true
  {{- else }}
  license: |-
{{ .License | trim | indent 4 }}
  {{- end }}
  {{- if eq .IngressType "none" }}
  {{- if or (eq .HttpsProtocol true) (eq .HttpProtocolRelease "https") }}
  appProtocol: "https"
  {{- else }}
  {{- if eq .HttpProtocolRelease "http2" }}
  appProtocol: "http2"
  {{- end }}
  {{- end }}
  appHostname: "{{ .IngressHost }}"
  {{- end }}
  keystore:
    passphrase: {{ .KeystorePassphrase | quote }}
    keystore: |- 
{{ .RepositoryKeystore | trim | indent 6 }}
  replicaCount: {{ .XlrReplicaCount }}
  external:
    db:
      {{- if eq .EnablePostgresql false }}
      enabled: true
{{ .PostgresqlExternalConfigRelease | indent 6 }}
      {{- else }}
      enabled: false
      {{- end }}
    mq:
      {{- if eq .EnableRabbitmq false }}
      enabled: true
{{ .RabbitmqExternalConfigRelease | indent 6 }}
      {{- else }}
      enabled: false
      {{- end }}
  oidc:
    enabled: {{ not (eq .OidcConfigType "no-oidc") }}
{{ .ExternalOidcConf | indent 4 }}
  {{- if or (eq .HttpProtocolRelease "https") (eq .HttpProtocolRelease "http2") }}
  ssl:
    enabled: true
    keystorePassword: {{ .ApplicationKeystorePassword | quote }}
    keystoreKeypassword: {{ .ApplicationKeystorePassword | quote }}
    keystoreType: {{ .ApplicationKeystoreType }}
    {{- if eq .ApplicationKeystoreSource "secret" }}
    keystore:
      valueFrom:
        secretKeyRef:
          name: {{ .ApplicationKeystoreSecretName }}
          key: ssl-keystore.{{ .ApplicationKeystoreType }}
    {{- else }}
    {{- if or (eq .ApplicationKeystoreSource "editor") (eq .ApplicationKeystoreSource "file") }}
    keystore: |-
{{ .ApplicationKeystore | indent 6 }}
    {{- end }}
    {{- end }}
  {{- end }}
  hooks:  
    genSelfSigned:
      {{- if and (eq .ApplicationKeystoreSource "generate") (or (eq .HttpProtocolRelease "https") (eq .HttpProtocolRelease "http2")) }}  
      enabled: true
      {{- else }}
      enabled: false
      {{- end }}
      {{- if eq .IsCustomImageRegistry true }}
      image:
        registry: {{ .CustomImageRegistryName }}
        repository: {{ .RepositoryName }}/kubectl
      {{- end }}
    getLicense:
      {{- if eq .LicenseSource "generate" }}
      enabled: true
      {{- else }}
      enabled: false
      {{- end }}
      {{- if eq .IsCustomImageRegistry true }}
      image:
        registry: {{ .CustomImageRegistryName }}
        repository: {{ .RepositoryName }}/kubectl
      {{- end }}
    installReleaseRunner:
      {{- if eq .RemoteRunnerInstallType "cluster-install" }}
      enabled: true
      releaseName: {{ .RemoteRunnerReleaseName }}
      answersSecret: {{ .RemoteRunnerReleaseName }}-answers
      {{- else }}
      enabled: false
      {{- end }}
      image:
        tag: "{{ .ImageTag }}"
        {{- if eq .IsCustomImageRegistry true }}
        registry: {{ .CustomImageRegistryName }}
        repository: {{ .RepositoryName }}/xl-client
        {{- end }}
  persistence:
    storageClass: "{{ .StorageClass }}"
    accessModes:
      - {{ .AccessModeRelease }}
    size: {{ .PvcSizeRelease }}Gi
  podSecurityContext:
    enabled: true
  containerSecurityContext:
    enabled: true
  {{- if eq .K8sSetup "Openshift" }}
  securityContextConstraints:
    enabled: true    
  {{- end }}
  volumePermissions:
    enabled: false
  image:
    repository: {{ .RepositoryName }}/{{ .ImageNameRelease }}
    tag: "{{ .ImageTag }}"
    pullPolicy: IfNotPresent
  {{- if eq .IsCustomImageRegistry true }}
  busyBox:
    image:
      registry: {{ .CustomImageRegistryName }}
      repository: {{ .RepositoryName }}/busybox
  {{- end }}
  diagnosticMode:
    enabled: false
  ingress:
    {{- if eq .IngressType "nginx" }}
    enabled: true
    annotations:
      {{- if eq .UseCustomNamespace true }}
      kubernetes.io/ingress.class: nginx-dai-xlr-{{ .Namespace }}
      {{- else }}
      kubernetes.io/ingress.class: nginx-dai-xlr
      {{- end }}
      nginx.ingress.kubernetes.io/affinity: cookie
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "120"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "120"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "120"
      nginx.ingress.kubernetes.io/rewrite-target: /
      nginx.ingress.kubernetes.io/session-cookie-name: ROUTE
      {{- if eq .HttpProtocolRelease "https" }}
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      {{- end }}
      {{- if eq .HttpProtocolIngress "https" }}
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      {{- else }}
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      {{- end }}
      {{- if eq .IngressKeystoreSource "passthrough" }}
      nginx.ingress.kubernetes.io/ssl-passthrough: "true"
      {{- end }}
    {{- end }}
    {{- if eq .IngressType "haproxy" }}
    enabled: true
    annotations:
      {{- if eq .UseCustomNamespace true }}
      kubernetes.io/ingress.class: haproxy-dai-xlr-{{ .Namespace }}
      {{- else }}
      kubernetes.io/ingress.class: haproxy-dai-xlr
      {{- end }}
      haproxy-ingress.github.io/rewrite-target: /
      haproxy-ingress.github.io/affinity: cookie
      haproxy-ingress.github.io/session-cookie-name: JSESSIONID
      haproxy-ingress.github.io/session-cookie-strategy: prefix
      haproxy-ingress.github.io/timeout-client: "120s"
      haproxy-ingress.github.io/timeout-http-request: "120s"
      {{- if eq .HttpProtocolRelease "https" }}
      haproxy-ingress.github.io/config-backend: |
        option httpchk GET / HTTP/1.0
        http-check send hdr Host {{ .IngressHost }}
      haproxy-ingress.github.io/backend-protocol: "h1-ssl"
      haproxy-ingress.github.io/secure-backends: "true"
      haproxy-ingress.github.io/secure-sni: host
      {{- else }}
      haproxy-ingress.github.io/config-backend: |
        option httpchk GET / HTTP/1.0
      {{- end }}
      {{- if eq .HttpProtocolIngress "https" }}
      haproxy-ingress.github.io/ssl-redirect: "true"
      {{- else }}
      haproxy-ingress.github.io/ssl-redirect: "false"
      {{- end }}
      {{- if eq .IngressKeystoreSource "passthrough" }}
      haproxy-ingress.github.io/ssl-passthrough: "true"
      {{- end }}
    {{- end }}
    {{- if eq .IngressType "external" }}
    enabled: true
    annotations:
      kubernetes.io/ingress.class: {{ .ExternalIngressClass }}
      ingress.kubernetes.io/rewrite-target: /
      ingress.kubernetes.io/affinity: cookie
      ingress.kubernetes.io/session-cookie-name: JSESSIONID
      ingress.kubernetes.io/session-cookie-strategy: prefix
      ingress.kubernetes.io/timeout-client: "120s"
      ingress.kubernetes.io/timeout-http-request: "120s"
      {{- if eq .HttpProtocolRelease "https" }}
      ingress.kubernetes.io/backend-protocol: "HTTPS"
      {{- end }}
      {{- if eq .HttpProtocolIngress "https" }}
      ingress.kubernetes.io/ssl-redirect: "true"
      {{- else }}
      ingress.kubernetes.io/ssl-redirect: "false"
      {{- end }}
      {{- if eq .IngressKeystoreSource "passthrough" }}
      ingress.kubernetes.io/ssl-passthrough: "true"
      {{- end }}
    {{- end }}
    {{- if eq .IngressType "none" }}
    enabled: false
    {{- end }}
    hostname: "{{ .IngressHost }}"
    path: /
    {{- if (eq .HttpProtocolIngress "https") }}
    # If you want to use TLS configuration uncomment the following lines and provide correct values.
    # You need to create secret, and provide the name under "secretName"
    tls: true
    {{- if or (eq .IngressKeystoreSource "generate") (eq .IngressKeystoreSource "passthrough") }}
    selfSigned: true
    {{- end }}
    {{- if eq .IngressKeystoreSource "secret" }}
    extraTls:
      - hosts:
          - "{{ .IngressHost }}"
        secretName: "{{ .IngressTlsSecretName }}"
    {{- end }}
    {{- end }}
  route:
    {{- if eq .IngressType "route" }}
    enabled: true
    annotations:
      haproxy.router.openshift.io/cookie_name: JSESSIONID
      haproxy.router.openshift.io/disable_cookies: "false"
      haproxy.router.openshift.io/rewrite-target: /
      haproxy.router.openshift.io/timeout: 120s
      {{- if and (not (eq .IngressKeystoreSource "passthrough")) (eq .HttpProtocolRelease "https") }}
      haproxy.router.openshift.io/set-forwarded-headers: replace
      haproxy.router.openshift.io/secure-sni: host
      {{- end }}
    hostname: "{{ .IngressHost }}"
    path: /
    {{- if eq .HttpProtocolIngress "https" }}
    tls:
      enabled: true
      {{- if eq .IngressKeystoreSource "passthrough" }}
      termination: passthrough
      {{- else }}
      termination: edge
      {{- if eq .IngressKeystoreSource "generate" }}
      selfSigned: true
      {{- end }}
      {{- if eq .IngressKeystoreSource "secret" }}
      secretName: "{{ .IngressTlsSecretName }}"
      {{- end }}
      {{- end }}
    {{- end }}
    {{- else }}
    enabled: false
    {{- end }}
  haproxy-ingress:
    controller:
      {{- if eq .IsCustomImageRegistry true }}
      image:
        repository: {{ .CustomImageRegistryName }}/{{ .RepositoryName }}/haproxy-ingress
      {{- end }}
      {{- if eq .ImageRegistryType "private" }}
      imagePullSecrets:
      - name: {{ .CustomPrivateImageRegistrySecret }}
      {{- end }}
      {{- if eq .UseCustomNamespace true }}
      ingressClass: haproxy-dai-xlr-{{ .Namespace }}
      {{- else }}
      ingressClass: haproxy-dai-xlr
      {{- end }}
    {{- if eq .IngressType "haproxy" }}
    install: true
    {{- else }}
    install: false
    {{- end }}
  nginx-ingress-controller:
    {{- if eq .IsCustomImageRegistry true }}
    defaultBackend:
      image:
        {{- /* registry name defined in global section */}}
        repository: {{ .RepositoryName }}/nginx
    {{- end }}
    {{- if eq .UseCustomNamespace true }}
    extraArgs:
      ingress-class: "nginx-dai-xlr-{{ .Namespace }}"
    {{- else }}
    extraArgs:
      ingress-class: nginx-dai-xlr
    {{- end }}
    {{- if (eq .IsCustomImageRegistry true) }}
    global:
      {{- /* global overrides the other occurences */}}
      imageRegistry: {{ .CustomImageRegistryName }}
      {{- if eq .ImageRegistryType "private" }}
      imagePullSecrets: [ {{ .CustomPrivateImageRegistrySecret }} ]
      {{- end }}
    {{- end }}
    {{- if eq .IsCustomImageRegistry true }}
    image:
      {{- /* registry name defined in global section */}}
      repository: {{ .RepositoryName }}/nginx-ingress-controller
    {{- end }}
    {{- if eq .UseCustomNamespace true }}
    ingressClassResource:
      controllerClass: k8s.io/ingress-nginx-dai-xlr-{{ .Namespace }}
      name: nginx-dai-xlr-{{ .Namespace }}
    {{- else }}
    ingressClassResource:
      controllerClass: k8s.io/ingress-nginx-dai-xlr
      name: nginx-dai-xlr
    {{- end }}
    {{- if eq .IngressType "nginx" }}
    install: true
    {{- else }}
    install: false
    {{- end }}
  postgresql:
    global:
      {{- /*  global overrides the other occurences */}}
      {{- if eq .IsCustomImageRegistry true }}
      imageRegistry: {{ .CustomImageRegistryName }}
      {{- end }}
      {{- if eq .ImageRegistryType "private" }}
      imagePullSecrets:
        - {{ .CustomPrivateImageRegistrySecret }}
      {{- end }}
      storageClass: "{{ .PostgresqlStorageClass }}"
    {{- if eq .IsCustomImageRegistry true }}
    image:
      {{- /* registry name defined in global section */}}
      repository: {{ .RepositoryName }}/postgresql
    {{- end }}
    install: {{ .EnablePostgresql }}
    primary:
      persistence:
        size: {{ .PostgresqlPvcSize }}Gi
        storageClass: "{{ .PostgresqlStorageClass }}"
      podSecurityContext:
        enabled: true
      containerSecurityContext:
        enabled: true
      {{- if eq .K8sSetup "Openshift" }}
      securityContextConstraints:
        enabled: true
      {{- end }}
    {{- if eq .IsCustomImageRegistry true }}
    volumePermissions:
      image:
        {{- /* registry name defined in global section */}}
        repository: {{ .RepositoryName }}/os-shell
    {{- end }}
  rabbitmq:
    {{- if eq .IsCustomImageRegistry true }}
    global:
      {{- /* global overrides the other occurences */}}
      imageRegistry: {{ .CustomImageRegistryName }}
      {{- if eq .ImageRegistryType "private" }}
      imagePullSecrets:
      - {{ .CustomPrivateImageRegistrySecret }}
      {{- end }}
    {{- end }}
    {{- if eq .IsCustomImageRegistry true }}
    image:
      {{- /* registry name defined in global section */}}
      repository: {{ .RepositoryName }}/rabbitmq
    {{- end }}
    install: {{ .EnableRabbitmq }}
    persistence:
      size: {{ .RabbitmqPvcSize }}Gi
      storageClass: "{{ .RabbitmqStorageClass }}"
    replicaCount: {{ .RabbitmqReplicaCount }}
    {{- if eq .K8sSetup "Openshift" }}
    securityContextConstraints:
      enabled: true
    {{- end }}
    volumePermissions:
      enabled: true
      {{- if eq .IsCustomImageRegistry true }}
      image:
        {{- /* registry name defined in global section */}}
        repository: {{ .RepositoryName }}/os-shell
      {{- end }}
    podSecurityContext:
      enabled: true
    containerSecurityContext:
      enabled: true
