kind: ConfigMap
apiVersion: v1
metadata:
  name: answers-config-map
  namespace: {{ .Namespace }}
  labels:
    organization: xebialabs
data:
  answers.yaml: |-
    AdminPassword: {{ .AdminPassword }}