apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  {{ if eq .UseCustomNamespace true }}
  name: {{ .Namespace }}-xlr-operator-metrics-reader
  {{ else }}
  name: xlr-operator-metrics-reader
  {{ end }}
rules:
- nonResourceURLs:
  - "/metrics"
  verbs:
  - get
