kind: Secret
apiVersion: v1
metadata:
  {{- if eq .UseCustomNamespace true }}
  name: dai-xlr-{{ .Namespace }}-postgresql-init-sql-keycloak
  {{- else }}
  name: dai-xlr-postgresql-init-sql-keycloak
  {{- end }}
  labels:
    app: digitalai-release
data:
  init-keycloak.sql: Q1JFQVRFIFVTRVIgImtleWNsb2FrIiBXSVRIIEVOQ1JZUFRFRCBQQVNTV09SRCAna2V5Y2xvYWsnOwpDUkVBVEUgREFUQUJBU0UgImtleWNsb2FrIjsKR1JBTlQgQUxMIFBSSVZJTEVHRVMgT04gREFUQUJBU0UgImtleWNsb2FrIiBUTyAia2V5Y2xvYWsiOw==
