apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  {{- if eq .UseCustomNamespace true }}
  name: {{ .Namespace }}-xlr-operator-manager
  {{- else }}
  name: xlr-operator-manager
  {{- end }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - "networking.k8s.io"
  resources:
  - "ingressclasses"
  verbs:
  - "*"
- apiGroups:
  - "rbac.authorization.k8s.io"
  resources:
  - "clusterrolebindings"
  - "clusterroles"
  verbs:
  - "*"
