apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  {{- if eq .UseCustomNamespace true }}
  name: {{ .Namespace }}-xlr-operator-manager
  {{- else }}
  name: xlr-operator-manager
  {{- end }}
rules:
{{- if or (eq .IngressType "nginx") (eq .IngressType "haproxy") }}
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - "networking.k8s.io"
  resources:
  - "ingressclasses"
  verbs:
  - "*"
- apiGroups:
  - "rbac.authorization.k8s.io"
  resources:
  - "clusterrolebindings"
  - "clusterroles"
  verbs:
  - "*"
{{- end }}
{{- if eq .K8sSetup "Openshift" }}
- apiGroups:
    - policy
  resources:
    - poddisruptionbudgets
  verbs:
    - '*'
- apiGroups:
    - route.openshift.io
  resources:
    - '*'
  verbs:
    - '*'
- apiGroups:
    - security.openshift.io
  resources:
    - securitycontextconstraints
  verbs:
    - '*'
{{- end }}
