---
{{ if eq .K8sSetup "Openshift" }}
apiVersion: xl-deploy/v1
kind: Applications
spec:
  - name: Applications/DIGITALAI/deploy-operator-app
    type: udm.Application
    children:
    - name: "{{ .ImageTag }}"
      type: udm.DeploymentPackage
      deployables:
      - name: manager-rolebinding
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "22"
        modifyOrder: "23"
        destroyOrder: "24"
        file: !file "dai-deploy/template-openshift/manager-rolebinding.yaml"
      - name: cluster-role-metrics-reader
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "13"
        modifyOrder: "14"
        destroyOrder: "15"
        file: !file "dai-deploy/template-openshift/cluster-role-metrics-reader.yaml"
      - name: leader-election-rolebinding
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "19"
        modifyOrder: "20"
        destroyOrder: "21"
        file: !file "dai-deploy/template-openshift/leader-election-rolebinding.yaml"
      - name: controller-manager-metrics-service
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "28"
        modifyOrder: "29"
        destroyOrder: "30"
        file: !file "dai-deploy/template-openshift/controller-manager-metrics-service.yaml"
      - name: deployment
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "31"
        modifyOrder: "32"
        destroyOrder: "33"
        file: !file "dai-deploy/template-openshift/deployment.yaml"
      - name: leader-election-role
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "7"
        modifyOrder: "8"
        destroyOrder: "9"
        file: !file "dai-deploy/template-openshift/leader-election-role.yaml"
      - name: cluster-role-manager-role
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "10"
        modifyOrder: "11"
        destroyOrder: "12"
        file: !file "dai-deploy/template-openshift/cluster-role-manager-role.yaml"
      - name: custom-resource-definition
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "1"
        modifyOrder: "2"
        destroyOrder: "3"
        file: !file "dai-deploy/template-openshift/custom-resource-definition.yaml"
      - name: cluster-role-digital-proxy-role
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "16"
        modifyOrder: "17"
        destroyOrder: "18"
        file: !file "dai-deploy/template-openshift/cluster-role-digital-proxy-role.yaml"
      - name: proxy-rolebinding
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "25"
        modifyOrder: "26"
        destroyOrder: "27"
        file: !file "dai-deploy/template-openshift/proxy-rolebinding.yaml"
      {{ if eq .UseEmbeddedKeycloak true }}
      - name: create-keycloak-db
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "36"
        modifyOrder: "36"
        destroyOrder: "2"
        file: !file "dai-deploy/template-openshift/create-keycloak-db.yaml"
      - name: postgresql-init-keycloak-db
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "37"
        modifyOrder: "37"
        destroyOrder: "1"
        file: !file "dai-deploy/template-openshift/postgresql-init-keycloak-db.yaml"
      {{ end }}
---
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/DIGITALAI/dai-deploy-cr
  type: udm.Application
  children:
  - name: "{{ .ImageTag }}"
    type: udm.DeploymentPackage
    deployables:
    - name: cr-file
      type: k8s.ResourcesFile
      scanPlaceholders: false
      fileEncodings:
        ".+\\.properties": ISO-8859-1
      mergePatchType: strategic
      propagationPolicy: Foreground
      updateMethod: patch
      createOrder: "60"
      modifyOrder: "50"
      destroyOrder: "40"
      file: !file "dai-deploy/daideploy_cr.yaml"
{{ else }}
apiVersion: xl-deploy/v1
kind: Applications
spec:
  - name: Applications/DIGITALAI/deploy-operator-app
    type: udm.Application
    children:
    - name: "{{ .ImageTag }}"
      type: udm.DeploymentPackage
      deployables:
      - name: manager-rolebinding
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "22"
        modifyOrder: "23"
        destroyOrder: "24"
        file: !file "dai-deploy/template-generic/manager-rolebinding.yaml"
      - name: cluster-role-metrics-reader
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "13"
        modifyOrder: "14"
        destroyOrder: "15"
        file: !file "dai-deploy/template-generic/cluster-role-metrics-reader.yaml"
      - name: leader-election-rolebinding
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "19"
        modifyOrder: "20"
        destroyOrder: "21"
        file: !file "dai-deploy/template-generic/leader-election-rolebinding.yaml"
      - name: controller-manager-metrics-service
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "28"
        modifyOrder: "29"
        destroyOrder: "30"
        file: !file "dai-deploy/template-generic/controller-manager-metrics-service.yaml"
      - name: deployment
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "31"
        modifyOrder: "32"
        destroyOrder: "33"
        file: !file "dai-deploy/template-generic/deployment.yaml"
      - name: leader-election-role
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "7"
        modifyOrder: "8"
        destroyOrder: "9"
        file: !file "dai-deploy/template-generic/leader-election-role.yaml"
      - name: cluster-role-manager-role
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "10"
        modifyOrder: "11"
        destroyOrder: "12"
        file: !file "dai-deploy/template-generic/cluster-role-manager-role.yaml"
      - name: custom-resource-definition
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "1"
        modifyOrder: "2"
        destroyOrder: "3"
        file: !file "dai-deploy/template-generic/custom-resource-definition.yaml"
      - name: cluster-role-digital-proxy-role
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "16"
        modifyOrder: "17"
        destroyOrder: "18"
        file: !file "dai-deploy/template-generic/cluster-role-digital-proxy-role.yaml"
      - name: proxy-rolebinding
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "25"
        modifyOrder: "26"
        destroyOrder: "27"
        file: !file "dai-deploy/template-generic/proxy-rolebinding.yaml"
      {{ if eq .UseEmbeddedKeycloak true }}
      - name: create-keycloak-db
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "36"
        modifyOrder: "36"
        destroyOrder: "2"
        file: !file "dai-deploy/template-generic/create-keycloak-db.yaml"
      - name: postgresql-init-keycloak-db
        type: k8s.ResourcesFile
        fileEncodings:
          ".+\\.properties": ISO-8859-1
        mergePatchType: strategic
        propagationPolicy: Foreground
        updateMethod: patch
        createOrder: "37"
        modifyOrder: "37"
        destroyOrder: "1"
        file: !file "dai-deploy/template-generic/postgresql-init-keycloak-db.yaml"
      {{ end }}
---
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/DIGITALAI/dai-deploy-cr
  type: udm.Application
  children:
  - name: "{{ .ImageTag }}"
    type: udm.DeploymentPackage
    deployables:
    - name: cr-file
      type: k8s.ResourcesFile
      scanPlaceholders: false
      fileEncodings:
        ".+\\.properties": ISO-8859-1
      mergePatchType: strategic
      propagationPolicy: Foreground
      updateMethod: patch
      createOrder: "60"
      modifyOrder: "50"
      destroyOrder: "40"
      file: !file "dai-deploy/daideploy_cr.yaml"
{{ end }}
