{{- if  eq .K8sSetup "AwsEKS" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/DIGITALAI
    children:
      - name: EKS-MASTER
        type: k8s.Master
        apiServerURL: !value K8sApiServerURL
        skipTLS: true
        isEKS: true
        clusterName: !value EksClusterName
        accessKey: !value AWSAccessKey
        accessSecret: !value AWSAccessSecret
        {{- if  .UseAWSSsoCredentials  }}
        isAssumeRole: true
        accountId: {{.AWSAccountId}}
        roleName: {{.AWSSSORoleName}}
        sessionToken: {{.AWSSessionToken}}
        {{- end }}
        children:
        - name: {{.Namespace}}
          type: k8s.Namespace
          namespaceName: {{.Namespace}}
{{- else if eq .K8sSetup "DockerDesktopK8s" }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/DIGITALAI
    children:
      - name: K8s-MASTER-LOCAL
        type: k8s.Master
        apiServerURL: !value K8sLocalApiServerURL
        skipTLS: true
        {{- if .UseKubeconfig }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
        {{- else }}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
        {{- end }}
        children:
        - name: {{.Namespace }}
          type: k8s.Namespace
          namespaceName: {{.Namespace}}
{{- else }}
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - directory: Infrastructure/DIGITALAI
    children:
      - name: K8s-MASTER
        type: k8s.Master
        apiServerURL: !value K8sApiServerURL
        skipTLS: true
        {{- if eq .K8sToken ""}}
          {{- if eq .K8sClientCertFile "" }}
        tlsCert: !value K8sClientCert
        tlsPrivateKey: !value K8sClientKey
          {{- else }}
        tlsCert: !value K8sClientCertFile
        tlsPrivateKey: !value K8sClientKeyFile
          {{- end }}
        {{- else }}
        token: !value K8sToken
        {{- end }}
        children:
        - name: {{.Namespace }}
          type: k8s.Namespace
          namespaceName: {{.Namespace}}
{{- end }}
---
apiVersion: xl-deploy/v1
kind: Environments
spec:
  - directory: Environments/DIGITALAI
    children:
      - name: K8S
        type: udm.Environment
        members:
          {{- if  eq .K8sSetup "AwsEKS" }}
          - Infrastructure/DIGITALAI/EKS-MASTER
          - Infrastructure/DIGITALAI/EKS-MASTER/{{.Namespace}}
          {{- else if  eq .K8sSetup "DockerDesktopK8s" }}
          - Infrastructure/DIGITALAI/K8s-MASTER-LOCAL
          - Infrastructure/DIGITALAI/K8s-MASTER-LOCAL/{{.Namespace}}
          {{- else }}
          - Infrastructure/DIGITALAI/K8s-MASTER
          - Infrastructure/DIGITALAI/K8s-MASTER/{{.Namespace}}
          {{- end }}
---
apiVersion: xl-deploy/v1
kind: Applications
spec:
  - directory: Applications/DIGITALAI
    children:
      - directory: XL-K8S-FOUNDATION
        children:
          {{- if .UseCustomRegistry}}
          - name: K8s-Docker-Credentials
            type: udm.Application
            children:
              - name: "v0.6"
                type: udm.DeploymentPackage
                orchestrator:
                  - sequential-by-dependency
                deployables:
                  - name: dockercreds
                    type: k8s.ResourcesFile
                    readinessProbeRetry: 120
                    file: !file kubernetes/xl-k8s-foundation/dockercred.yaml
          {{- end }}
