K8sSetup: {{ .K8sSetup }}
UseCustomNamespace: {{ .UseCustomNamespace }}
Namespace: {{ .Namespace }}
ServerType: {{ .ServerType }}
RepositoryName: {{ .RepositoryName }}
ImageTag: {{ .ImageTag }}
{{- if eq .ServerType "daiDeploy" }}
ImageNameDeploy: {{ .ImageNameDeploy }}
ImageNameDeployTaskEngine: {{ .ImageNameDeployTaskEngine }}
OperatorImageDeployGeneric: {{ .OperatorImageDeployGeneric }}
OperatorImageDeployOpenshift: {{ .OperatorImageDeployOpenshift }}
XldMasterCount: {{ .XldMasterCount }}
XldWorkerCount: {{ .XldWorkerCount }}
  {{- if eq .ProcessType "upgrade" }}
PreserveCrValuesDeploy: |-
  {{ .PreserveCrValuesDeploy }}
  {{ end }}
{{ end }}
{{- if eq .ServerType "daiRelease" }}
ImageNameRelease: {{ .ImageNameRelease }}
OperatorImageReleaseGeneric: {{ .OperatorImageReleaseGeneric }}
OperatorImageReleaseOpenshift: {{ .OperatorImageReleaseOpenshift }}
XlrReplicaCount: {{ .XlrReplicaCount }}
  {{- if eq .ProcessType "upgrade" }}
PreserveCrValuesRelease: |-
  {{ .PreserveCrValuesRelease }}
  {{ end }}
{{ end }}
EnableOidc: {{ .EnableOidc }}
UseExistingOidcConf: {{ .UseExistingOidcConf }}
UseEmbeddedKeycloak: {{ .UseEmbeddedKeycloak }}
UseExternalOidcConf: |-
{{ .UseExternalOidcConf }}
KeycloakUrl: {{ .KeycloakUrl }}
UseKeycloakWithEmbeddedDB: {{ .UseKeycloakWithEmbeddedDB }}
KeycloakIngressHost: '{{ .KeycloakIngressHost }}'
{{- if eq .ProcessType "install" }}
IngressType: {{ .IngressType }}
License: '{{ .License }}'
RepositoryKeystore: '{{ .RepositoryKeystore }}'
KeystorePassphrase: '{{ .KeystorePassphrase }}'
StorageClass: {{ .StorageClass }}
IngressHost: {{ .IngressHost }}
EnablePostgresql: {{ .EnablePostgresql }}
PostgresqlStorageClass: {{ .PostgresqlStorageClass }}
EnableRabbitmq: {{ .EnableRabbitmq }}
RabbitmqReplicaCount: {{ .RabbitmqReplicaCount }}
RabbitmqStorageClass: {{ .RabbitmqStorageClass }}
{{ end }}
{{- if eq .ProcessType "upgrade" }}
UpgradeType: {{ .UpgradeType }}
  {{- if eq .UpgradeType "operatorToOperator" }}
CrdName: '{{ .CrdName }}'
CrName: '{{ .CrName }}'
  {{ end }}
  {{- if eq .UpgradeType "helmToOperator" }}
ReleaseName: '{{ .ReleaseName }}'
  {{ end }}
{{ end }}
