apiVersion: xl/v1
kind: Import
metadata:
  imports:
    - xebialabs/xl-k8s-foundation.yaml
    {{- if eq .ServerType "daiDeploy"}}
    - xebialabs/dai-deploy-operator.yaml
    {{- end}}
    {{- if eq .ServerType "daiRelease"}}
    - xebialabs/dai-release-operator.yaml
    {{- end}}
    - xebialabs/deployments.yaml