kind: Secret
apiVersion: v1
metadata:
  {{ if eq .UseCustomNamespace true }}
  name: dai-ocp-xld-{{ .Namespace }}-postgresql-init-sql-keycloak
  {{ else }}
  name: dai-ocp-xld-postgresql-init-sql-keycloak
  {{ end }}
  labels:
    app: digitalai-deploy
data:
  init-keycloak.sql: Q1JFQVRFIFVTRVIgImtleWNsb2FrIiBXSVRIIEVOQ1JZUFRFRCBQQVNTV09SRCAna2V5Y2xvYWsnOwpDUkVBVEUgREFUQUJBU0UgImtleWNsb2FrIjsKR1JBTlQgQUxMIFBSSVZJTEVHRVMgT04gREFUQUJBU0UgImtleWNsb2FrIiBUTyAia2V5Y2xvYWsiOw==
